section {
    margin-bottom: 0;
    position: relative;
}
#message {
    margin-top: 6px;
    font-size: 14px;
    position: absolute;
    bottom: -40px;
    left: 0;
    display: none;
}
::placeholder {
    font-size: 14px;
}

#password {
    background-color: transparent;
    border: none;
}

#password:target {
    border: none;
}
