.calendar {
    width: 330px;
    height: 200px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    font-size: 18px;
}

.left, .right {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.right {
    width: 42%;
    background-color: #53709F;
    color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.left {
    width: 58%;
    color: #53709F;
    background-color: #333;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#date {
    font-size: 70px;
    margin: 0;
}