.calculator form input {
    border: 0;
    outline: 0;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
}

.calculator form input[type="button"] {
    background-color: rgba(192, 192, 192, 0.1);
    margin: 5px;
}

.calculator form input[type="button"]:hover {
    background-color: rgba(192, 192, 192, 0.2);
}

.calculator {
    font-size: 26px;
}

form .display {
    display: flex;
    justify-content: flex-end;
    border: 1px solid #c0c0c0;
    margin-bottom: 12px;
}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 24px;
}

form input.equal {
    width: 125px;
}

.info {
    position: absolute;
    top: 12px;
    right: 12px;
}

.info p {
    display: inline;
    font-size: 14px;
}