section {
    display: flex;
    align-items: center;
    justify-content: center;
}

#left, #right {
    width: 300px;
    min-height: 400px; 
    margin: 20px;
    border: 2px dashed #53709f;
}

.list {
    height: 50px;
    margin: 25px;
    background: #53709F;
    display: flex;
    align-items: center;
    cursor: grab;
}

.list i {
    margin: 0 5px 0 10px;
}

* {
    font-family: monospace, 'Courier New', Courier;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    margin: 40px 20px;
    padding: 12px;
    border: 1px solid #c0c0c0;
}

button {
    border-radius: 20px;
    border: 1px solid #c0c0c0;
    background-color: transparent;
}

h1 {
    margin: 30px 20px;
}

a {
    text-decoration: none;
    color: #53709F;
}

a:hover {
    color: #53709F;
    text-decoration: underline;
    cursor: pointer;
}